<header class="navbar">
    <div class="navbar-front">
        <div class="ctn-logo">
            <a href="#" class="logo" routerLink="home">RateThis!</a>
        </div>
        <div class="ctn-item">
            <a href="#" routerLink="home/music" routerLinkActive="active">Music</a>
        </div>
        <div class="ctn-item">
            <a href="#" routerLink="home/movies" routerLinkActive="active">Movies</a>
        </div>
        <div class="ctn-item">
            <a href="#" routerLink="home/games" routerLinkActive="active">Games</a>
        </div>
        <div class="ctn-item">
            <a href="#" routerLink="home/books" routerLinkActive="active">Books</a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="ctn-settings">
            <a href="#" title="profile">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
        <div class="ctn-settings">
            <a href="#" title="settings">
                <i class="fa-solid fa-gear"></i>
            </a>
        </div>
        <div class="ctn-settings">
            <a href="#" title="log out" (click)="authService.logout();">
                <i class="fa-solid fa-lg fa-right-from-bracket"></i>
            </a>
        </div>
    </div>
</header>