<app-form-wrapper>
    <h2 class="title">RateThis!</h2>
    <form [formGroup]="userForm" (submit)="onSubmit()">
        <label for="name">Type username</label>
        <input type="text" id="name" name="name" formControlName="name">
        <div class="error-wrapper">
            <div *ngIf="userForm.get('name')?.touched || userForm.get('emnameail')?.dirty">
                <app-auth-error *ngIf="userForm.get('name')?.hasError('required')">
                    Name is required
                </app-auth-error>
                <app-auth-error *ngIf="userForm.get('name')?.hasError('pattern')">
                    Username should not contain whitespaces
                </app-auth-error>
            </div>
        </div>

        <label for="email">Type email</label>
        <input type="email" id="email" name="email" formControlName="email">
        <div class="error-wrapper">
            <div *ngIf="userForm.get('email')?.touched || userForm.get('email')?.dirty">
                <app-auth-error *ngIf="userForm.get('email')?.hasError('required')">
                    Email not provided
                </app-auth-error>
                <app-auth-error *ngIf="userForm.get('email')?.hasError('email')">
                    Invalid email
                </app-auth-error>
            </div>
        </div>

        <label for="pswd">Type password</label>
        <input type="password" id="pswd" name="pswd" formControlName="pswd">
        <div class="error-wrapper">
            <div *ngIf="userForm.get('pswd')?.touched || userForm.get('pswd')?.dirty">
                <app-auth-error *ngIf="userForm.get('pswd')?.hasError('required')">
                    Password not provided
                </app-auth-error>
                <app-auth-error *ngIf="userForm.get('pswd')?.hasError('minlength')">
                    Password too short (8 minimum)
                </app-auth-error>
            </div>
        </div>

        <label for="pswd2">Retype password</label>
        <input type="password" id="pswd2" name="pswd2" formControlName="pswd2" match="pswd">
        <div class="error-wrapper">
            <div *ngIf="userForm.get('pswd2')?.touched || userForm.get('pswd2')?.dirty">
                <app-auth-error *ngIf="userForm.get('pswd2')?.hasError('required')">
                    Password not provided
                </app-auth-error>
                <app-auth-error *ngIf="userForm.get('pswd2')?.hasError('match')">
                    Passwords do not match
                </app-auth-error>
            </div>
        </div>

        <button type="submit">Sign Up</button>
        <span class="link-wrapper">
            or <a routerLink="/auth/login">Log In</a>
        </span>
    </form>
</app-form-wrapper>