@use "sass:map";
@use "src/assets/scss/utilities/variables" as var;

.widget-wrapper {
    display: flex;
    position: relative;
    background-color: inherit;
    font-weight: inherit;
    padding: 3px 3px 5px 5px;
    border-radius: 0 0 0 10px;

    i, p {
        color: inherit;
        margin: 0 0.1em;
    }

    i {
        position: relative;
        top: .03em;
        font-size: 1.2em;
    }

    p {
        font-weight: inherit;
        font-size: 1.3em;
    }
}