@use "sass:map";
@use "../utilities/variables" as var;

@mixin auth-input() {
  width: 100%;
  font-size: 1rem;
  font-weight: bolder;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
  background-color: map.get(var.$themes, "font-primary");
  border-left: 1px solid map.get(var.$themes, "font-primary");

  &[type=password] {
    letter-spacing: 4px;
  }
}
