@use "sass:map";
@use "src/assets/scss/utilities/variables" as var;
@use "src/assets/scss/pages/homepage";

.bg-image-pattern {
  padding-top: 0;
}

.main {
  display: flex;
  padding: 0 5%;
  flex-direction: column;
  align-items: center;
}
