@use "sass:map";
@use "src/assets/scss/utilities/variables" as var;

.clip {
    display: inline-block;
    $size: 1em;
    font-size: $size;
    border: 2px solid map.get(var.$themes, "primary-font");
    border-radius: 50px;
    padding: calc($size / 4) $size;
}